{{ define "main" }}
<div class="single">
    <div class="single-head">
        <div class="single-head-texts">
            <h1 class="single-head-title">{{.Title}}</h1>
            <p class="single-head-description">{{.Params.description}}</p>
            <div class="single-head-detail">
                <img src={{.Params.avatar}} alt="" loading="lazy" class="single-avatar">
                <span>
                    {{range (.GetTerms "authors")}}
                        <a href={{.Permalink}}>{{.Name}}</a>
                    {{end}}
                </span>
                {{range (.GetTerms "categories")}}
                    <a href={{.Permalink}} class="single-category">{{.Name}}</a>
                {{end}}
            </div>
            <time>
                {{dateFormat .Site.Params.dateFormat .Date}}
            </time>
        </div>
        <img src={{.Params.image_big}} alt={{.Title}} loading="lazy" class="single-head-image">
    </div>
    <div class="single-bottom">
        <div class="single-content">
            {{.Content}}
        </div>
        <div class="single-right-bar">
            {{partial "right_bar" .}}
        </div>
    </div>
</div>
{{ end }}
